<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Scrumy</title>
  </head>
  <body>
    <table style='width:100%'>
      <tr>
        <th>User</th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify Goals</th>
        <th>Done Goals</th>
      </tr>
      <tr>
          <td>{{first_name}}</td>
          <td>{{goal_name}}, {{goal_id}}</td>
        </tr>
    </table>
  </body>
</html>
